<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'cfa_styleguide_main', media: 'all' %>
  <%= javascript_include_tag 'cfa_styleguide_main' %>
</head>
<body>
  <%= render @partial_path %>
</body>