/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea
/spec/test_app/tmp/
/spec/test_app/log/
/node_modules
yarn-debug.log*
.yarn-integrity
.git-authors
.DS_Store
.vscode
Brewfile.lock.json
/dist
.sass-cache
/tmp
.idea
