.form-card {
  @extend .card;
  margin-left: -$s5;
  margin-right: -$s5;
  @include media($tablet-up) {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-card__header {
    padding-top: $s35;
    padding-bottom: $s60;
}

.form-card__header--with-icon {
  position: relative;
  @include media($tablet-up) {
    padding-right: 6em;
  }
}

.form-card__icon {
  float: right;
  margin-left: .5em;

  @include media($tablet-up) {
    position: absolute;
    right: $s35;
    margin-left: 0;
    float: none;
  }

}

.form-card__title {
    font-size: $font-size-h2;
    margin-top: 0;
    margin-bottom: 0;
    + .text--help, + .text--small {
      margin-top: $s25;
      margin-bottom: 0;
    }
}

.form-card__content {
    > *:last-child {
        margin-bottom: 0;
    }
}

.form-card__footer {
    @include full-bleed();
    padding-top: $s60;
    padding-bottom: $s35;

    *:last-child {
      margin-bottom: 0;
    }
}

.form-card--transition {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;

  .text-input-group-container {
    display: inline-block;
  }

  .text-input {
    margin: 0 auto;
  }

  @include media($tablet-up) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .form-card__header {
    margin-bottom: 1.5em;
    margin-top: 0;
    border-bottom: 0;
    padding-bottom: 0;
    @include media($tablet-up) {
      margin-bottom: 2.5em;
    }
  }

  .form-card__header--confirmation {
    background: linear-gradient(to right, rgba($color-magenta, .015) 0%, rgba($color-teal, .04) 65%);
    margin-top: -3em;
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid $color-grey;
  }

  .form-card__footer {
    border-top: 0;
    padding-top: 0;
    margin-top: 3em;
  }

  .form-card__title {
    font-size: $font-size-h2;
  }

  .form-card__content {
    .list--bulleted, .media-box {
      max-width: 25em;
      text-align: left;
      margin: 0 auto;
    }
  }

  .form-card__header, .form-card__content, .form-card__footer {
    .form-card__title, p {
      max-width: 55rem;
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
}

.form-card--dsnap {
  border-top: 8px solid $color-grey;
  padding-top: 2em;
}

.feedback-survey {
  .question-with-follow-up {
    margin-bottom: 1em;
  }
}

