body {
  margin-bottom: $footer-height*1.5;
  @include media($tablet-up) {
    margin-bottom: $footer-height;
  }

}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height*1.5;
  background-color: $color-grey;
  padding: 2em $s15;
  font-weight: 600;

  @include media($tablet-up) {
    padding: 2em $s35;
    height: $footer-height;
  }
}

.main-footer__legal {
  font-size: $font-size-25-small;
  color: $color-grey-darkest;
  p {
    @include clearfix();
    margin-bottom: 0em;
  }
}

.main-footer__cfa-logo {
  margin-top: 2em;

  @include media($tablet-up) {
    margin-top: 1em;
    float: right;
  }
}

.main-footer .select:before {
  color: $color-grey-dark;
}

.main-footer .select__element {
  border-radius: 0;
}

.main-footer .select__element:focus {
  border-color: $color-grey-dark
}

.main-footer__compact {
  @extend .main-footer;
  padding: 1.5rem 2rem;
  font-size: $font-size-25-small;
  font-weight: $font-weight-normal;
  height: unset;

  @include media($tablet-up) {
    padding: 1.5rem $s35;
  }
}