<div class="admin-application-card">
  <div class="admin-application-card__top">
    <div class="admin-application-card__left">
      <h3>430 - Frida Fresh</h3>

      <div class="admin-application-card__data-group">
        <div class="admin-application-card__data">
          <div>frida@example.com</div>
          <div>(555) 555-1212</div>
          <div>San Francisco County</div>
        </div>

        <div class="admin-application-card__data text--small">
          <div>Source: google</div>
          <div>Confirm #: 30001212</div>
        </div>
      </div>
    </div>

    <div class="admin-application-card__right">
      <div>06/26/2017 12:22PM</div>
    </div>
  </div>

  <hr>

  <div>Doc upload failed (edit case note)</div>
</div>
