<div class="form-card form-card--transition">
  <div class="form-card__header">
    <h1 class="form-card__title">We suggest that you submit a copy of your ID to your county now.</h1>
  </div>
  <div class="form-card__content">
    <p>You can do this later but submitting your ID now may help to speed up the application process. If you've been asked to submit any other documents, you can also do so at this point.</p>
  </div>
  <div class="form-card__footer">
    <button class="button button--primary">Submit ID now <i class="icon icon-arrow_forward"></i></button>
    <button class="button">I'll do it later</button>
  </div>
</div>
