<div class="form-card form-card--compact">
  <div class="form-card__header">
    <h1 class="form-card__title">Rachel Wood</h1>
    <h1 class="text--help">Account information</h1>
  </div>
  <div class="form-card__content">
    <div class="summary-table summary-table--left with-padding-med">
      <p class="summary-table__label">Your organization</p>
      <p class="summary-table__value">SF Marin Food Bank</p>
    </div>

    <div class="summary-table summary-table--left with-padding-med">
      <p class="summary-table__label">Your email</p>
      <p class="summary-table__value">rachel@sfmarinfoodbank.org</p>
    </div>

    <div class="summary-table summary-table--left">
      <p class="summary-table__label">Your password</p>
      <p class="summary-table__value">**********</p>
    </div>

    <a href="#" class="button button--small">Change password</a>
  </div>
  <div class="form-card__footer">
    <button class="button button--primary">Log out</button>
  </div>
</div>
