<div class="form-card">
  <header class="form-card__header">
    <h1 class="form-card__title">Let’s start with some basic information.</h1>
  </header>
  <div class="form-card__content">
    <div class="form-group form-group--error">
      <label for="first_name" class="form-question">What's your first name?</label>
      <input type="text" class="text-input form-width--name" id="first_name" placeholder="First name">
      <p class="text--error"><i class="icon-warning"></i> Make sure you answer this question.</p>

    </div>
    <div class="form-group">
      <label for="last_name" class="form-question">What's your last name?</label>
      <input type="text" class="text-input form-width--name" id="last_name" placeholder="Last name">
    </div>
  </div>
  <div class="form-card__footer">
    <button class="button button--primary">Continue <i class="icon icon-arrow_forward"></i></button>
    <button class="button">Go back <i class="icon icon-replay"></i></button>
  </div>
</div>
