<div class="pagination">
  <div class="pagination__info">
    <p class="text--help">Displaying 1-20 of 344 applicants</p>
  </div>
  <nav class="pagination__buttons">
    <a class="button button--small" aria-label="Go back one page"><i class="icon icon-keyboard_arrow_left"></i></a>
    <a class="button button--small" aria-label="Page 1">1</a>
    <a class="button button--small pagination__selected" aria-label="Page 2 selected">2</a>
    <a class="button button--small" aria-label="Page 3">3</a>
    <span class="pagination__ellipsis">&hellip;</span>
    <a class="button button--small" aria-label="Page 6">6</a>
    <a class="button button--small" aria-label="Go forward one page"><i class="icon icon-keyboard_arrow_right"></i></a>
  </nav>
</div>
