<div class="pagination">
  <div class="pagination__info">
    <p class="text--help">Displaying 1-20 of 344 applicants</p>
  </div>
  <div class="pagination__buttons">
    <button class="button button--small" aria-label="Go back one page"><i class="icon icon-keyboard_arrow_left"></i></button>
    <button class="button button--small">1</button>
    <button class="button button--small pagination__selected">2</button>
    <button class="button button--small">3</button>
    <span class="pagination__ellipsis">&hellip;</span>
    <button class="button button--small">6</button>
    <button class="button button--small" aria-label="Go forward one page"><i class="icon icon-keyboard_arrow_right"></i></button>
  </div>
</div>
