<div class="reveal">
  <p><a href="#" class="reveal__link">Learn more about student eligibility</a></p>
  <div class="reveal__content text--left">
    <div class="notice">
      <p>In order to qualify as a college student, you have to meet one of the following exemptions:</p>
      <ul class="list--bulleted with-padding-med">
        <li>Work an average at least 20 hours a week</li>
        <li>Approved for federal or state work study</li>
        <li>Take care of a child under 12 (with exceptions)</li>
        <li>Participate in an approved employment or traning program</li>
        <li>Receive CalWORKs</li>
        <li>Do not intend to enroll next term</li>
      </ul>
      <p>For the purposes of CalFresh, you are NOT considered a college  student if:</p>
      <ul class="list--bulleted with-padding-med">
        <li>You are enrolled less than half time</li>
        <li>You are under 18 or over 50 years of age</li>
        <li>You are not mentally or physically fit to work</li>
        <li>Your school does not require a high school diploma or GED</li>
      </ul>
      <p>Read the full <a href="http://calfresh.guide/special-rules-for-students/">student eligibility regulations here</a>.</p>
    </div>
  </div>
</div>
