<div class="form-card text--centered">
  <div class="form-card__content">
    <div class="grid steps">
      <div class="grid__item width-one-third">
        <div class="emoji emoji--med emoji--pencil"></div>
        <p class=" with-no-padding"><b>Step 1</b></p>
        <p class="text--small with-padding-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="grid__item width-one-third">
        <div class="emoji emoji--med emoji--ok"></div>
        <p class=" with-no-padding"><b>Step 2</b></p>
        <p class="text--small with-padding-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="grid__item width-one-third">
        <div class="emoji emoji--med emoji--eggs"></div>
        <p class=" with-no-padding"><b>Step 3</b></p>
        <p class="text--small with-padding-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
