<div class="form-card text--centered">
  <div class="form-card__content">
    <div class="vertical-steps">
      <div class="vertical-steps__step">
        <div class="emoji emoji--med emoji--pencil"></div>
        <h3><b>Step 1</b> is the first of the steps</h3>
        <p class="text--small with-padding-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="vertical-steps__step">
        <div class="emoji emoji--med emoji--ok"></div>
        <h3><b>Step 2</b> comes after Step 1</h3>
        <p class="text--small with-padding-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="vertical-steps__step">
        <div class="emoji emoji--med emoji--eggs"></div>
        <h3>The last step is <b>Step 3</b></h3>
        <p class="text--small with-padding-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
