<div class="form-card__content">
  <div class="eligibility_result">
    <p><%= local_assigns[:graphic_description] %></p>
    <p class="h2 color--green">$<%= local_assigns[:graphic_content] %></p>
    <div class="illustration illustration--eligibility_chart illustration--eligible"></div>
    <% if local_assigns[:card_body] %>
      <%= card_body %>
    <% end %>
  </div>
</div>

<div class="form-card__footer">
  <%= link_to 'Continue',
              local_assigns[:next_path],
              class: 'button button--primary'%>
</div>