* {
  box-sizing: border-box;
}


html {
  position: relative;
  background-color: $color-background;
  font-size: $em-base;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

body {
  font-size: $font-size-25;
  font-family: $font-system;
  line-height: $s25;
}

.page-wrapper {
  // usually page wrapper is wrapping everything in the page
  // higher level wrapping classes like template--dashboard. 
  // While we no longer need this to apply values in Honeycrisp,
  // leaving it here because I'd like there to be an indicator to
  // future developers that page-wrapper is a "honeycrisp thing".
}
