* {
  box-sizing: border-box;
}


html {
  position: relative;
  background-color: $color-background;
  font-size: $em-base;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

body {
  font-size: $font-size-25;
  font-family: $font-system;
  line-height: $s25;
}

.page-wrapper {
  // usually page wrapper is wrapping everything in the page
  // higher level wrapping classes like template-dashboard may
  // override it with specific styles, but here it should not do anything.
}
