.button {
    @include outline;
    transition: $animation-fast background-color;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #000;
    box-shadow: 0 2px 2px $color-grey;
    background-color: #FFFFFF;
    padding: .5em 1em;
    border-radius: $border-radius;
    margin-bottom: .5em;
    margin-right: .3em;
    text-decoration: none;
    color: #000000;

    &:hover {
        background-color: tint($color-light-grey, 20%);
        color: #000000;
    }
    &:active {
        background-color: $color-light-grey;
        box-shadow: none;
        top: 1px;
    }
}

.button--cta {
  color: #FFFFFF;
  background-color: $color-magenta;
  border-color: $color-magenta;
  box-shadow: 0 2px 2px shade($color-magenta, 40%);
  &:hover {
      background-color: tint($color-magenta, 20%);
      border-color: tint($color-magenta, 20%);
      color: #FFFFFF;
  }
  &:active {
      background-color: shade($color-magenta, 15%);
      border-color: shade($color-magenta, 15%);
  }
}

.button--primary {
    color: #FFFFFF;
    background-color: $color-teal;
    border-color: $color-teal;
    box-shadow: 0 2px 2px shade($color-teal,40%);
    &:hover {
        background-color: tint($color-teal, 20%);
        border-color: tint($color-teal, 20%);
        color: #FFFFFF;
    }
    &:active {
        background-color: shade($color-teal, 15%);
        border-color: shade($color-teal, 15%);
    }
}

.button--disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button--danger {
    color: $color-red;
    &:hover {
        color: $color-red;
    }
}

.button--small {
  font-size: $font-size-small;
  padding: .2em .7em;
  border-bottom-width: 1px;
}

.button--inline {
  font-size: .8em;
  padding: .2em;
  border-bottom-width: 1px;
}

.button--link {
  background: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.button.button--link {
  color: inherit;
}

.button--large  {
  font-size: $font-size-h3;
}

.button__icon {
  margin-left: .5em;
}

.button__icon--left {
  margin-right: .5em;
}
