.button {
    @include outline;
    box-sizing: border-box;
    height: $s60;
    line-height: $s60;
    margin-bottom: $s25;
    transition: $animation-fast all;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: $font-weight-bold;
    border: 2px solid $color-grey-darkest;
    box-shadow: 0 2px 0px rgba(#000, .5);
    background-color: #FFFFFF;
    padding: 0 $s25;
    border-radius: $border-radius-large;
    margin-right: $s25;
    text-decoration: none;
    color: $color-grey-darkest;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
        background-color: $color-grey-light;
        color: $color-grey-darkest;
    }
    &:active {
        background-color: $color-grey-light;
        box-shadow: none;
        top: 1px;
    }

  .emoji--checkmark, .emoji--crossmark {
    background-size: auto 100%;
    height: $s25;
    width: $s35;
  }
}

.button--cta {
  color: #FFFFFF;
  background-color: $color-magenta;
  border-color: $color-magenta;
  box-shadow: 0 2px 0px $color-magenta-dark;
  &:hover {
      background-color: $color-magenta-dark;
      border-color: $color-magenta-dark;
      color: #FFFFFF;
  }
  &:active {
      background-color: $color-magenta-dark;
      border-color: $color-magenta-dark;
  }
}

.button--primary {
    color: #FFFFFF;
    background-color: $color-teal;
    border-color: $color-teal;
    box-shadow: 0 2px 0px $color-teal-dark;
    &:hover {
        background-color: $color-teal-dark;
        border-color: $color-teal-dark;
        color: #FFFFFF;
    }
    &:active {
        background-color: $color-teal-dark;
        border-color: $color-teal-dark;
    }
}

.button--disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button--danger {
  color: $color-red;
  &:hover {
      background-color: $color-red;
      color: #fff;
  }
}

.button--small {
  font-size: $font-size-25-small;
  border-radius: $border-radius;
  height: $s35;
  line-height: $s35;
  padding: 0 $s15;
}

.button--inline {
  font-size: $font-size-25-small;
  height: $s35;
  line-height: $s35;
  padding: 0 $s15;
}

.button--link {
  background: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

.button__icon {
  margin-left: $s5;
}

.button__icon--left {
  margin-right: $s5;
}

p .button {
  margin-bottom: 0;
}
