.emoji--grinning-face {
  background-image: image-url('emojis/1f600.png');
}

.emoji--neutral-face {
  background-image: image-url('emojis/1f610.png');
}

.emoji--frowning-face {
  background-image: image-url('emojis/1f641.png');
}

.emoji--thumbs-up {
  background-image: image-url('emojis/1f44d.png');
}

.emoji--clipboard {
  background-image: image-url('emojis/1f4cb.png');
}

.emoji--page-facing-up {
  background-image: image-url('emojis/1f4c4.png');
}

.emoji--blush {
  background-image: image-url('emojis/1f60a.png');
}

.emoji--pencil {
  background-image: image-url('emojis/270f.png');
}

.emoji--ok {
  background-image: image-url('emojis/1f44c.png');
}

.emoji--eggs {
  background-image: image-url('emojis/1f373.png');
}

.emoji--credit-card {
  background-image: image-url('emojis/1f4b3.png');
}

.emoji--avocado {
  background-image: image-url('emojis/1f951.png');
}

.emoji--phone {
  background-image: image-url('emojis/260e.png');
}

.emoji--receiver {
  background-image: image-url('emojis/1f4de.png');
}

.emoji--mail {
  background-image: image-url('emojis/1f4eb.png');
}

.emoji--mail-open {
  background-image: image-url('emojis/1f4ec.png');
}

.emoji--bust {
  background-image: image-url('emojis/1f464.png');
}

.emoji--money {
  background-image: image-url('emojis/1f4b5.png');
}

.emoji--house {
  background-image: image-url('emojis/1f3e0.png');
}

.emoji--faucet {
  background-image: image-url('emojis/1f6b0.png');
}

.emoji--dollar-sign {
  background-image: image-url('emojis/1f4b2.png');
}

.emoji--memo {
  background-image: image-url('emojis/1f4dd.png');
}

.emoji--lock {
  background-image: image-url('emojis/1f512.png');
}

.emoji--to-mobile {
  background-image: image-url('emojis/1f4f2.png');
}

.emoji--carrot {
  background-image: image-url('emojis/1f955.png');
}

.emoji--backpack {
  background-image: image-url('emojis/1f392.png');
}

.emoji--money-bag {
  background-image: image-url('emojis/1f4b0.png');
}

.emoji--confused-face {
  background-image: image-url('emojis/1f914.png');
}

.emoji--fist {
  background-image: image-url('emojis/270a.png')
}

.emoji--stew {
  background-image: image-url('emojis/1f958.png')
}

.emoji--rice-bowl {
  background-image: image-url('emojis/1f35a.png')
}

.emoji--salad {
  background-image: image-url('emojis/1f957.png')
}

.emoji--finger-down {
  background-image: image-url('emojis/1f447.png')
}

.emoji--star {
  background-image: image-url('emojis/1f31f.png')
}

.emoji--earth {
  background-image: image-url('emojis/1f30e.png')
}

.emoji--farmer-female {
  background-image: image-url('emojis/1f469-1f33e.png')
}

.emoji--construction-worker {
  background-image: image-url('emojis/1f477.png')
}

.emoji--older-woman {
  background-image: image-url('emojis/older-woman.png');
  background-size: auto 100%;
}

.emoji--older-man {
  background-image: image-url('emojis/older-man.png');
  background-size: auto 100%;
}

.emoji--disabled {
  background-image: image-url('emojis/267f.png')
}

.emoji--briefcase {
  background-image: image-url('emojis/1f4bc.png')
}

.emoji--pill {
  background-image: image-url('emojis/1f48a.png')
}

.emoji--baby {
  background-image: image-url('emojis/1f476.png')
}

.emoji--checkmark {
  background-image: image-url('emojis/checkmark.png');
}

.emoji--crossmark {
  background-image: image-url('emojis/crossmark.png');
}

.emoji--student-woman {
  background-image: image-url('emojis/1f469-1f393.png')
}

.emoji--student-man {
  background-image: image-url('emojis/1f468-1f393.png')
}

.emoji--student-hat {
  background-image: image-url('emojis/1f393.png')
}

.emoji--warning {
  background-image: image_url('emojis/26a0.png')
}

.emoji--car {
  background-image: image_url('emojis/1f697.png')
}

.emoji--map {
  background-image: image_url('emojis/1f5fa.png')
}

.emoji--woman-detective-medium-dark-skin-tone {
  background-image: image_url('emojis/1f575-1f3fe-2640.png')
}

.emoji-pair--jobs {
  background-image: image-url('emoji_pairs/emoji_jobs.png')
}

.emoji-pair--dependent_care {
  background-image: image-url('emoji_pairs/emoji_dependent_care.png')
}

.emoji--fountain-pen {
  background-image: image-url('emojis/pen.png');
}

.emoji--ambulance {
  background-image: image-url('emojis/1f691.png');
}

.emoji-pair--self-employed {
  background-image: image-url('emoji_pairs/emoji_self_employed.png');
}

.emoji-pair--disabled-money {
  background-image: image-url('emoji_pairs/emoji_ssi_ssp.png');
}

.emoji-pair--older-man-and-woman {
  background-image: image-url('emoji_pairs/emoji_older_man_and_woman.png');
}

.emoji-pair--students {
  background-image: image-url('emoji_pairs/emoji_students.png');
}

