.emoji {
  display: inline-block;
  text-indent: -9999px;
  height: $s10;
  width: $s10;
  content: '';
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
}

.emoji--inline {
  top: .2em;
}

.emoji--huge {
  width: $s95;
  height: $s95;
}

.emoji--bigger {
  width: $s60;
  height: $s60;
}

.emoji--big {
  width: $s35;
  height: $s35;
}

.emoji--med {
  width: $s25;
  height: $s25;
}

.emoji--small {
  width: $s15;
  height: $s15;
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
}
