.example {
  display: inline-block;
  border-radius: $border-radius;
  border: 2px dotted $color-grey-dark;
  padding: $s10/2 $s15;
  margin-bottom: $s10;
  margin-right: $s10;
  font-size: $font-size-25-small;
  line-height: $s25;
}

.example-group {
  @extend .text--centered;
  margin-bottom: $s25;
}