.example {
  display: inline-block;
  border-radius: 10px;
  border: 2px dotted $color-grey-dark;
  padding: .3em .5em;
  margin-bottom: .5em;
  margin-right: .3em;
  font-size: $font-size-small;
}

.example--wider {
  display: block;
  margin-right: 0;
}
