fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	line-height: $line-height-normal;
}

.form-question {
	display: block;
	margin-bottom: 1em;
  font-weight: 700;
}

.text-input {
  @include outline;
	display: block;
	width: 100%;
	font-size: $font-size-normal;
	font-weight: 700;
  height: $s60;
	margin-bottom: $s10;
	padding: 0 $s25;
	border: 2px solid $color-grey-darkest;
    border-radius: 0;
	background-color: $color-grey-light;
    &::placeholder {
		color: $color-grey-dark;
	}
}

.radio-button {
  @include outline-within();
	transition: $animation-fast all;
  user-select: none;
  position: relative;
	display: block;
	cursor: pointer;
	font-size: $font-size-normal;
	font-weight: 700;
	margin-bottom: $s10;
  height: $s60;
  line-height: $s60;
	padding: 0 $s25;
	background-color: #FFFFFF;
	border: 2px solid $color-grey-darkest;
	input[type='radio'] {
    @include outline;
		position: relative;
    top: 2px;
    appearance: none;
    display: inline-block;
    background-color: #fff;
    border: 2px solid $color-grey-darkest;
    height: 20px;
    width: 20px;
    margin-right: $s15;
    border-radius: 50%;
    &:checked {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -6px;
        margin-left: -6px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: $color-teal;
      }
    }
	}
	&:hover {
		background-color: $color-grey-light;
	}

	&.is-selected {
		background-color: $color-teal-light;
		border-color: $color-grey-darkest;
		color: $color-grey-darkest;
	}
}

.checkbox {
  @include outline-within();
	transition: $animation-fast all;
  user-select: none;
  position: relative;
	cursor: pointer;
	display: block;
	font-size: $font-size-normal;
	font-weight: 700;
	background-color: #FFFFFF;
  height: $s60;
  line-height: $s60;
	margin-bottom: $s10;
	padding: 0 $s25;
	border: 2px solid $color-grey-darkest;
	input[type='checkbox'] {
    @include outline;
    position: relative;
    top: 2px;
    appearance: none;
    display: inline-block;
    background-color: #fff;
    border: 2px solid $color-grey-darkest;
    height: 20px;
    width: 20px;
    margin-right: $s15;
    &:checked {
      &:before {
        font-family: $font-icon;
        font-size: $font-size-small;
        content: '\e5ca';
        display: inline-block;
        position: absolute;
        top: -23px;
        color: $color-teal;
      }
    }
  }
	&:hover {
		background-color: $color-grey-light;
	}
	&.is-selected {
    background-color: $color-teal-light;
    border-color: $color-grey-darkest;
    color: $color-grey-darkest;
	}
}

.textarea {
  @include outline;
	border: 2px solid $color-grey-darkest;
	width: 100%;
	padding: $s15;
	line-height: $line-height-normal;
	margin-bottom: $s15;
  font-weight: 700;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: $s15;
  font-size: $font-size-normal;
  height: $s60;
  line-height: $s60;
  background-color: #FFFFFF;

  &:after {
    transition: $animation-fast all;
    position: absolute;
    right: 0em;
    top: 0em;
    bottom: 0;
    display: block;
    font-family: $font-icon;
    font-size: $font-size-h2;
    content: '\e5c5';
    color: $color-grey-darkest;
    border-left: 0;
    width: $s60;
    text-align: center;
    z-index: 0;
  }
}

.select__element {
  @include outline;
  appearance: none;
  position: relative;
  z-index: 1;
  border: 2px solid $color-grey-darkest;
  padding: 0 $s60 0 $s25;
  font-family: $font-system;
  font-size: $font-size-normal;
  font-weight: 700;
  background-color: transparent;
  width: 100%;
  overflow-wrap: break-word;
  border-radius: 0;
}

.file-upload {
	@include outline-within();
  display: inline-block;
}

.file-upload__input {
	width: .1px;
	height: .1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
