.label {
  display: inline-block;
  font-size: $font-size-15;
  background-color: $color-grey-dark;
  color: #fff;
  font-weight: 500;
  border-radius: $border-radius;
  text-transform: uppercase;
  padding: $s15/2 $s10;
  line-height: $s15;
  position: relative;
  top: -.1em;
  margin-left: $s5;
}

.label--magenta {
  background-color: $color-magenta;
}

.label--teal {
  background-color: $color-teal;
}

.label--green {
  background-color: $color-green;
}

.label--red {
  background-color: $color-red;
}

.label--yellow {
  background-color: $color-yellow;
  color: $color-grey-darkest;
}