.slab {
  @include full-bleed();
  position: relative;
  padding: {
    top: $s60;
    bottom: $s60;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.slab--white {
  background-color: #FFFFFF;
}

.slab--gradient {
  background-color: rgba($color-teal, .05);
  background: linear-gradient(to right, rgba($color-magenta, .015) 0%, rgba($color-teal, .04) 65%);
}

.slab--padded {
    padding: {
        top: $s95;
        bottom: $s95;
    }
}

.slab--not-padded {
  padding: {
    top: 0;
    bottom: 0;
  }
}

.slab--bleed {
  overflow: hidden;
}

.card {
    box-shadow: $box-shadow;
    border-radius: $border-radius-large;
    padding: $s25 $s25;
    background-color: #FFFFFF;
    margin-bottom: $s15;
    > *:last-child {
        margin-bottom: 0;
    }
}

.notice {
  background-color: $color-grey-light;
  padding: $s15;
  margin-bottom: $s25;
  border: 2px solid $color-grey;
  *:last-child {
    margin-bottom: 0;
  }
}

.notice--success {
  padding: $s15;
  margin-bottom: $s25;
  background-color: $color-green-light;
  border: 2px solid $color-green;
  *:last-child {
    margin-bottom: 0;
  }
}

.notice--warning {
  padding: $s15;
  margin-bottom: $s25;
  background-color: $color-yellow-light;
  border: 2px solid $color-yellow;
  *:last-child {
    margin-bottom: 0;
  }
}

.notice--error {
  padding: $s15;
  margin-bottom: $s25;
  background-color: $color-red-light;
  border: 2px solid $color-red;
  *:last-child {
    margin-bottom: 0;
  }
}

.tile {
  border: 1px solid $color-grey-light;
  padding: $s15 $s10;
}

.textwell {
  text-align: left;
  margin-bottom: 1em;

  @include media($tablet-up) {
    border: 2px solid $color-grey-light;
    padding: 2em;
    max-height: 30rem;
    overflow: auto;
  }
}
