.heading-60 {
  font-size: $font-size-60;
  line-height: $s60;
  font-weight: $font-weight-bold;
  margin-top: $s60;
  margin-bottom: $s25;
  &:first-child {
    margin-top: 0;
  }
}

.heading-35 {
  font-size: $font-size-35;
  font-weight: $font-weight-bold;
  line-height: $s35;
  margin-top: $s35;
  margin-bottom: $s25;
  &:first-child {
    margin-top: 0;
  }
}

.heading-25 {
  font-size: $font-size-25;
  font-weight: $font-weight-bold;
  line-height: $s25;
  margin-top: $s25;
  margin-bottom: $s25;
  &:first-child {
    margin-top: 0;
  }
}

.heading-25-small {
  font-size: $font-size-25-small;
  font-weight: $font-weight-bold;
  line-height: $s25;
  margin-top: $s25;
  margin-bottom: $s25;
  &:first-child {
    margin-top: 0;
  }
}

.text-25 {
  font-size: $font-size-25;
  line-height: $s25;
  margin-bottom: $s25;
}

.text-25-small {
  font-size: $font-size-25-small;
  line-height: $s25;
  margin-bottom: $s25;
  color: $color-grey-dark;
}


p {
  margin-top: 0;
  margin-bottom: $s25;
}

h1 {
  @extend .heading-60;
}

h2 {
  @extend .heading-35;
}

h3 {
  @extend .heading-25;
}

h4 {
  @extend .heading-25-small;
}

.text--caps {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 500;
}

.text--caption {
  @extend .heading-35;
  font-weight: $font-weight-light;
}

.text--left {
  text-align: left;
}

.text--centered {
  text-align: center;
}

.text--right {
  text-align: right;
}

a {
  @include outline;
  color: $color-link-default;

  &:hover {
    color: $color-link-hover;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:active {
    color: $color-link-active;
  }
}

.link--subtle {
  color: inherit;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

.text--green {
  color: $color-green;
}

.text--grey {
  color: $color-grey;
}

.text--grey-dark {
  color: $color-grey-dark;
}

.text--grey-darkest {
  color: $color-grey-darkest;
}

.text--magenta {
  color: $color-magenta;
}

.text--magenta-dark {
  color: $color-magenta-dark;
}

.text--red {
  color: $color-red;
}

.text--teal {
  color: $color-teal;
}

.text--teal-dark {
  color: $color-teal-dark;
}

.text--yellow {
  color: $color-yellow;
}

.text--error {
  @extend .text--red;
  @extend .text-25-small;
  font-weight: $font-weight-bold;
}

.text--pullquote {
  font-weight: $font-weight-light;
  font-size: $font-size-35;
  line-height: $s35;
  margin-bottom: $s25;
}

.list--padded {
  li {
    margin-bottom: $s15;
  }
}

.list--bulleted {
  list-style: disc;
  padding-left: 2.5em;
  li {
    margin-bottom: $s15;
  }
}

.list--numbered {
  list-style: decimal;
  padding-left: 2.5em;
  li {
    margin-bottom: $s15;
  }
}

.list--checkmark, .list--crossmark {
  li {
    position: relative;
    margin-left: $s25;
    padding-left: $s25;
    margin-bottom: $s15;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: .25em;
      width: $s25;
      height: $s15;
      background-image: image-url('emojis/checkmark.png');
      background-repeat: no-repeat;
      background-size: auto $s15;
    }
  }
}

.list--crossmark {
  li:before {
    background-image: image-url('emojis/crossmark.png');
  }
}

table {
  margin-bottom: $s25;
}

td {
  padding-right: $s25;
}

hr {
  margin-top: $s60;
  margin-bottom: $s60;
  height: 2px;
  background-color: $color-grey;
  border: 0;
}

.textwell {
  text-align: left;
  margin-bottom: $s25;

  @include media($tablet-up) {
    border: 2px solid $color-grey;
    border-radius: $border-radius-large;
    padding: $s35 $s15;
    max-height: 30rem;
    overflow: auto;
  }
}

.rule--no-padding {
  margin-top: $s25;
  margin-bottom: $s25;
}

// Depracated Text Classes

.text--help {
  @extend .text-25-small;
}

.text--small {
    @extend .text-25-small;
    color: $color-grey-darkest
}

.h1 {
  @extend .heading-60;
}

.h2 {
  @extend .heading-35;
}

.h3 {
  @extend .heading-25;
}

.h4 {
  @extend .heading-25-small;
}
