// Fonts
$font-system:         -apple-system, BlinkMacSystemFont,
                        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                        "Fira Sans", "Droid Sans", "Helvetica Neue",
                        sans-serif !default;

$font-icon:           'icomoon' !default;


// Typopgrahy
$em-base:             10px !default;
$font-size-normal:    1.9rem !default;
$font-size-small:     1.6rem !default;
$font-size-smallest:  1.2rem !default;
$font-size-h1:        3.6rem !default;
$font-size-h2:        2.8rem !default;
$font-size-h3:        2.4rem !default;
$font-size-h4:        1.9rem !default;
$line-height-normal:  1.5em !default;
$line-height-display: 1.3em !default;


// Colors - Deprecated
$color-darkest-grey:  #121111 !default;
$color-dark-grey:     #5F5854 !default;
$color-light-grey:    #F7F5F4 !default;
$color-tan:           #DFD7CC !default;
$color-orange:        #D48C00 !default;
$color-text-on-orange: #3D2800 !default;

// Colors - Current
$color-green: #00891B !default;
$color-green-light: #EBFFEF !default;

$color-grey: #CFC5BF !default;
$color-grey-light: $color-light-grey !default;
$color-grey-dark: $color-dark-grey !default;
$color-grey-darkest: $color-darkest-grey !default;

$color-magenta: #A6005E !default;
$color-magenta-light: #FFEAF6 !default;
$color-magenta-dark:  #66013A !default;

$color-red: #D13F00 !default;
$color-red-light: #FCE3D9 !default;

$color-teal: #008060 !default;
$color-teal-light: #EBFFFA !default;
$color-teal-dark: #034E46 !default;

$color-yellow: #FFAE00 !default;
$color-yellow-light: #FFF2D1 !default;

$color-background:    $color-grey-light !default;

// Breakpoints
$small-mobile-up:     320px !default;
$mobile-up:           481px !default;
$tablet-up:           601px !default;
$site-max-up:         961px !default;

// Magic Numbers
$site-margins:        40px !default;
$site-max-width:      960px !default;
$border-radius:       2px !default;
$footer-height-home:  340px !default;
$footer-height:       100px !default;
$tooltip-width:       250px !default;


// Padding Sizes
$padding-small:   1rem !default;
$padding-med:     3.8rem !default;
$padding-large:   7.6rem !default;
$padding-huge:    15.2rem !default;


// Image Sizes
$width-image-icon:    1.5em !default;
$width-image-small:   6em !default;
$width-image-med:     8em !default;
$width-image-large:   10em !default;


// Form Widths
$width-form-med:	    12em !default;
$width-form-long:	    20em !default;
$width-form-short:     6em !default;

$width-form-casenumber: 8em !default;
$width-form-phone:      9em !default;
$width-form-name:       12em !default;
$width-form-zip:        6em !default;
$width-form-ssn:        8em !default;
$width-form-searchbar:  30em !default;


// Animations
$animation-fast:      .1s ease-out !default;
$animation-med:      .2s ease-out !default;
