.main-header {
  @include full-bleed();
  height: $s60;
  line-height: $s60;
}

.main-header__title {
  font-size: $font-size-25-small;
  line-height: $s25;
  margin-bottom: 0;
  font-weight: 500;
  color: $color-grey-darkest;

  .main-header__cbo-title {
    display: inline-block;
    @include media($tablet-up) {
      max-width: 10em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include media($site-max-up) {
      max-width: none;
    }
  }

  .main-header__logo {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: $color-grey-darkest;
    padding-left: $s35;

    &:before {
      @include retina-bg(gcf_logomark_black, 100% auto);
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      position: absolute;
      top: -.15em;
      left: 0;
      width: $s25;
      height: $s25;
    }
  }
}

.assister-toolbar {
  clear: both;
  display: block;
  padding-top: .5em;

  @include media($tablet-up) {
    float: right;
    clear: none;
    float: right;
    padding-top: 0;
    .toolbar__item {
      margin-right: 0;
      margin-left: 1em;
    }
  }
}
