<table class="data-table">
  <thead>
  <tr>
    <th>Applicant</th>
    <th>Birth date</th>
    <th>Confirmation #</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Applicant 1</td>
    <td>04/02/1988</td>
    <td>AKJHSD83K</td>
  </tr>
  <tr class="row--warning">
    <td>Applicant 2</td>
    <td>04/02/1988</td>
    <td>AKJHSD83K</td>
  </tr>
  <tr>
    <td>Applicant 3</td>
    <td>04/02/1988</td>
    <td>AKJHSD83K</td>
  </tr>
  <tr>
    <td>Applicant 4</td>
    <td>04/02/1988</td>
    <td>AKJHSD83K</td>
  </tr>
  <tr class="row--error">
    <td>Applicant 5</td>
    <td>04/02/1988</td>
    <td>AKJHSD83K</td>
  </tr>
  <tr>
    <td>Applicant 6</td>
    <td>04/02/1988</td>
    <td>AKJHSD83K</td>
  </tr>
  </tbody>
</table>
