<form action="POST">
  <div class="form-group form-group--error">
    <label class="form-question" for="example_form_question">How many people live in your household, including yourself?</label>
    <p class="text--help">Include family members and housemates you share food with.</p>
    <radiogroup class="input-group--inline">
      <label for="example_radio_inline_3_1" class="radio-button">
        <input type="radio" name="example_radio_inline_3" id="example_radio_inline_3_1">
        1
      </label>
      <label for="example_radio_inline_3_2" class="radio-button">
        <input type="radio" name="example_radio_inline_3" id="example_radio_inline_3_2">
        2
      </label>
      <label for="example_radio_inline_3_3" class="radio-button">
        <input type="radio" name="example_radio_inline_3" id="example_radio_inline_3_3">
        3
      </label>
      <label for="example_radio_inline_3_4" class="radio-button">
        <input type="radio" name="example_radio_inline_3" id="example_radio_inline_3_4">
        4
      </label>
      <label for="example_radio_inline_3_5" class="radio-button">
        <input type="radio" name="example_radio_inline_3" id="example_radio_inline_3_5">
        5
      </label>
      <label for="example_radio_inline_3_6" class="radio-button">
        <input type="radio" name="example_radio_inline_3" id="example_radio_inline_3_6">
        6
      </label>
    </radiogroup>
    <p class="text--error"><i class="icon-warning"></i> Make sure you answer this question.</p>
  </div>
</form>
