<div class="incrementer">
  <input type="number" class="text-input form-width--short" name="incrementer" value="1" min="0" max="10">
  <span class="incrementer__subtract">-</span>
  <span class="incrementer__add">+</span>
</div>
