<!--  Media box -->
<div class="media-box">
  <div class="media-box__media media--icon">
    <img src="<%= image_path 'calfresh_logo.png' %>" alt="calfresh logo">
  </div>
  <div class="media-box__content">
    <p>A media box is used to juxtapose a piece of media (like an image) with a block of content. It is used when the media and content is treated holistically as one block and does not align to the grid.</p>
  </div>
</div>

<!--  Reversed media box -->
<div class="media-box media-box--reversed">
  <div class="media-box__media media--small">
    <img src="<%= image_path 'calfresh_logo.png' %>" alt="calfresh logo">
  </div>
  <div class="media-box__content">
    <p> There are modifier classes on the media element to size the media and to present it either on the left or right.</p>
  </div>
</div>
