<div class="show-more">
  <a href="" class="show-more__button">Show more</a>
  <div class="show-more__content text--centered">
    <p>
      <span class="example">Social Security</span>
      <span class="example">Disability</span>
      <span class="example">Unemployment</span>
      <span class="example">Military BAH</span>
      <span class="example">Child support</span>
      <span class="example">Alimony</span>
      <span class="example">Worker's Comp</span>
      <span class="example">Money from friend or relative</span>
      <span class="example">Social Security</span>
      <span class="example">Disability</span>
      <span class="example">Unemployment</span>
      <span class="example">Military BAH</span>
      <span class="example">Child support</span>
      <span class="example">Alimony</span>
      <span class="example">Worker's Comp</span>
      <span class="example">Money from friend or relative</span>
      <span class="example">Social Security</span>
      <span class="example">Disability</span>
      <span class="example">Unemployment</span>
      <span class="example">Military BAH</span>
      <span class="example">Child support</span>
      <span class="example">Alimony</span>
      <span class="example">Worker's Comp</span>
      <span class="example">Something else</span>
    </p>
  </div>
</div>
