<div class="summary-table">
  <div class="grid">
    <div class="grid__item width-one-third">
      <p class="summary-table__label">Household size</p>
      <p class="summary-table__value">1 <span class="icon icon-person"></span></p>
    </div>
    <div class="grid__item width-one-third">
      <p class="summary-table__label">Last month's income</p>
      <p class="summary-table__value">$1000</p>
    </div>
    <div class="grid__item width-one-third">
      <p class="summary-table__label">County</p>
      <p class="summary-table__value">Marin</p>
    </div>
  </div>
</div>
