<div class="text-input-group">
  <div class="text-input-group__prefix">$</div>
  <input type="text" class="text-input" placeholder="Text input with pre and post labels" name="example_text">
  <div class="text-input-group__postfix">.00</div>
</div>
