.accordion {
	background-color: $color-grey-light;
	border: 2px solid $color-grey;
	border-radius: 10px; // Replace with $border-radius-large when styleguide is updated
	padding: 15px; // Replace with $s15 when styleguide is updated
	margin-bottom: 15px; // Replace with $s15 when styleguide is updated
}

.accordion__button {
	@extend .button--link;
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
	padding-right: 35px; // Replace with $s35 when styleguide is updated
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -7px; // Replace with $s15/2 when styleguide is updated
		width: 15px; // Replace with $s15 when styleguide is updated
		height: 15px; // Replace with $s15 when styleguide is updated
		background-image: image-url('icon_accordion_close.svg');
		background-repeat: no-repeat;
		background-position: center center;
	}

	.accordion--is-closed & {
		&:after {
			background-image: image-url('icon_accordion_open.svg');
		}
	}
}

.accordion__content {
	margin-top: 35px; // Replace with $s35 when styleguide is updated
	display: block;

	.accordion--is-closed & {
		display: none;
	}
}