.reveal__link {
  @include outline;
  display: inline-block;
  text-decoration: none;
  color: $color-teal-dark;
  border: 2px solid $color-teal-dark;
  background-color: $color-teal-light;
  border-radius: 10px;
  padding: .2em .5em .3em .7em;

  &:after {
    position: relative;
    top: .1em;
    font-family: $font-icon;
    content: '\a0\e313';
  }
}

.reveal__content {
  margin-top: 1em;
  background-color: $color-background;
  border: 2px solid $color-grey-darkest;
  border-radius: 10px;
  padding: .5em 1em;
  *:last-child {
    margin-bottom: 0;
  }
}

.reveal {
  margin-bottom: 1em;
  &.is-hidden {
    .reveal__link {
      &:after {
        content: '\a0\e315';
      }
    }
    .reveal__content {
      display: none;
    }
  }
}
