.searchbar {
  @include outline-within;
  display: table;
  width: 100%;
  border-collapse: separate;
}

.searchbar__input {
  display: table-cell;
  width: 100%;
  border: 2px solid $color-grey-darkest;
  box-shadow: inset 0px 2px 0px rgba(#000, .15);
  background-color: $color-grey-light;
  font-weight: $font-weight-bold;
  padding: 0 $s25;
  height: $s60;
  margin: 0;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $color-grey-dark;
  }
}

.searchbar__button {
  transition: all $animation-fast;
  user-select: none;
  button {
    display: none;
  }

  @extend .button;
  padding: {
    top: ($s35/2) - 0.2rem;
    bottom: ($s35/2) - 0.2rem;
  }
  display: table-cell;
  border-radius: 0;
  vertical-align: middle;
  appearance: none;
  width: 1%;
  border: 2px solid $color-grey-darkest;
  border-left: none;
  background-color: #fff;
  color: $color-grey-darkest;
  text-align: center;
  margin: 0;
  box-shadow: none;

  &:hover {
    background-color: $color-grey-light;
  }

  &:active {
    background-color: $color-grey-light;
  }
}
