.show-more {
  text-align: left;
  margin-bottom: 3em;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0em;
    left: 0;
    right: 0;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 75%);
    height: 7em;
    border-bottom: 2px solid $color-grey-darkest;
  }

  &.is-open {
    border-bottom: 0;

    &:after {
      display: none;
    }
    .show-more__content {
      max-height: none;
    }
    .show-more__button {
      display: none;
    }
  }
}

.show-more--long {
  .show-more__content {
    max-height: 30rem;
  }
}

.show-more__button {
  font-size: $font-size-small;
  display: inline-block;
  padding: .2em .4em;
  border-radius: 30px;
  border: 2px solid $color-grey-darkest;
  text-decoration: none;
  position: absolute;
  bottom: -1.3em;
  left: 50%;
  z-index: 2;
  width: 8em;
  margin-left: -4em;
  text-align: center;
  background-color: #FFF;
  &:hover {
    background-color: $color-background;
  }
}

.show-more__content {
  max-height: 15rem;
  overflow: hidden;
}
