$toolbar-item-wrap-spacing: .2em !default;

.toolbar {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: -$toolbar-item-wrap-spacing auto 0;
  max-width: $site-max-width;
}

.toolbar--wrap-when-small {
  flex-wrap: wrap;
}

.toolbar--hide-text-when-small {
  .toolbar__logo-text {
    display: inline-block;
    text-indent: -10000px;

    @include media($small-mobile-up) {
      text-indent: initial;
    }
  }
}

.toolbar__item {
  display: inline-block;
  margin-left: 1em;

  &:first-child {
    margin-left: 0;
  }
}

.toolbar__left {
  flex-shrink: 0;
  margin-top: $toolbar-item-wrap-spacing;
  margin-right: 1em;
}

.toolbar__right {
  flex-shrink: 0;
  margin-top: $toolbar-item-wrap-spacing;
}
