.vertical-steps {
  position :relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    left: 50%;
    background-color: $color-grey;
  }
}

.vertical-steps__step {
  position: relative;
  padding: $s10;
  background-color: #fff;

  h3 {
    margin: 0;
  }
}

.vertical-steps__step:not(:last-child) {
  margin-bottom: $s60;
}

.vertical-steps__title {
  font-size: $font-size-25;
  font-weight: $font-weight-bold;
  line-height: $s25;
  margin-bottom: $s10;
}

.vertical-steps__emoji {
  @extend .emoji;
  @extend .emoji-size-60;
  @extend .spacing-above-25;
  @extend .spacing-below-25;
}
