# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#

defaults: &defaults
  working_directory: ~/repo
  docker:
  - image: cimg/ruby:3.0.5-browsers

version: 2
jobs:
  install_dependencies:
    <<: *defaults
    steps:
    - checkout
    - run:
        name: "Update Node.js and npm"
        command: |
          curl -sSL "https://nodejs.org/dist/v14.15.0/node-v14.15.0-linux-x64.tar.xz" | sudo tar --strip-components=2 -xJ -C /usr/local/bin/ node-v14.15.0-linux-x64/bin/node
          curl https://www.npmjs.com/install.sh | sudo bash
    - run:
        name: "Configure Bundler"
        command: |
          echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
          source $BASH_ENV
          gem install bundler
    - restore_cache:
        keys:
        - v1-bundler-{{ checksum "Gemfile.lock" }}
        - v1-bundler-
    - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
    - save_cache:
        paths:
        - ./vendor/bundle
        key: v1-bundler-{{ checksum "Gemfile.lock" }}
    - restore_cache:
        keys:
          - v1-yarn-{{ checksum "yarn.lock" }}
          - v1-yarn-
    - run: yarn install
    - save_cache:
        key: v1-yarn-{{ checksum "yarn.lock" }}
        paths:
          - ~/.cache/yarn
          - ./node_modules

  run_checks:
    <<: *defaults
    steps:
    - checkout
    - run:
          name: "Configure Bundler"
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler
    - restore_cache:
        keys:
        - v1-bundler-{{ checksum "Gemfile.lock" }}
        - v1-bundler-
    - run: bundle --path vendor/bundle
    - run: bundle exec rubocop

  run_tests:
    <<: *defaults
    docker:
    - image: cimg/ruby:3.0.5-browsers
    steps:
    - checkout
    - run:
        name: "Update Node.js and npm"
        command: |
          curl -sSL "https://nodejs.org/dist/v14.15.0/node-v14.15.0-linux-x64.tar.xz" | sudo tar --strip-components=2 -xJ -C /usr/local/bin/ node-v14.15.0-linux-x64/bin/node
          curl https://www.npmjs.com/install.sh | sudo bash
    - run:
        name: "Configure Bundler"
        command: |
          echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
          source $BASH_ENV
          gem install bundler
    - restore_cache:
        keys:
        - v1-bundler-{{ checksum "Gemfile.lock" }}
        - v1-bundler-
    - restore_cache:
        keys:
        - v1-yarn-{{ checksum "yarn.lock" }}
        - v1-yarn-
    - run: bundle --path vendor/bundle
    - run: yarn install
    - run: mkdir /tmp/test-results
    - type: shell
      command: |
        yarn run percy exec -- \
        bundle exec rspec --profile 10 \
                          --require ./spec/support/pre_documentation_formatter.rb \
                          --format RspecJunitFormatter \
                          --out /tmp/test-results/rspec.xml \
                          --format PreDocumentationFormatter \
                          spec/**/*_spec.rb
    # collect reports
    - store_test_results:
        path: /tmp/test-results
    - store_artifacts:
        path: spec/test_app/tmp/screenshots
        destination: screenshots

workflows:
  version: 2
  build:
    jobs:
    - install_dependencies
    - run_checks:
        requires:
        - install_dependencies
    - run_tests:
        requires:
        - install_dependencies

