---
version: 2
jobs:
  build:
    parallelism: 3
    working_directory: ~/repo
    docker:
      - image: circleci/ruby:2.5.1-node-browsers
    steps:
      - checkout
      # Restore Cached Dependencies
      - restore_cache:
          name: Restore bundle cache
          key: v1-cfa_styleguide-{{ checksum "Gemfile.lock" }}
      # Bundle install dependencies
      - run: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs=4 --retry=3 --full-index
      # Cache Dependencies
      - save_cache:
          name: Store bundle cache
          key: v1-cfa_styleguide-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      # Create place to store test results
      - run: mkdir ~/rspec
      # Run the tests
      - type: shell
        command: |
          gem install rspec && \
          bundle exec rspec --profile 10 \
                            --require ./spec/support/pre_documentation_formatter.rb \
                            --out /tmp/test-results/rspec.xml \
                            --format PreDocumentationFormatter \
                            $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: tmp/screenshots
          destination: screenshots
