.template--question {
  .slab {
    padding-top: 0;
    padding-bottom: $s15;
  }

  .form-card {
    max-width: 72rem;
    margin-bottom: 0;

    @include media($tablet-up) {
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
}
