<div class="h4">Small</div>
<p>
  <button class="button button--small button--cta">CTA Button</button>
  <button class="button button--small button--cta button--disabled" disabled>Disabled CTA Button</button>
</p>
<p>
  <button class="button button--small button--primary">Primary Button</button>
  <button class="button button--small button--primary button--disabled" disabled>Disabled Primary Button</button>
</p>
<p>
  <button class="button button--small">Button</button>
  <button class="button button--small button--disabled" disabled>Disabled Button</button>
</p>
<p>
  <button class="button button--small button--danger">Danger Button</button>
  <button class="button button--small button--danger button--disabled" disabled>Disabled Danger Button</button>
</p>

<p class="h4">Standard</p>
<p>
  <button class="button button--cta">CTA Button</button>
  <button class="button button--cta button--disabled" disabled>Disabled CTA Button</button>
</p>
<p>
  <button class="button button--primary">Primary Button</button>
  <button class="button button--primary button--disabled" disabled>Disabled Primary Button</button>
</p>
<p>
  <button class="button">Button</button>
  <button class="button button--disabled" disabled>Disabled Button</button>
</p>
<p>
  <button class="button button--danger">Danger Button</button>
  <button class="button button--danger button--disabled" disabled>Disabled Danger Button</button>
</p>

<p class="h4">Misc</p>
<p>
  <button class="button">Button with icon <i class="button__icon icon-arrow_forward"></i></span></button>
  <button class="button"><i class="button__icon--left icon-arrow_back"></i></span> Button with icon</button>
</p>
<p>
  <button class="button button--link">A button styled to look like a link</button>
</p>
