<div class="h4">Small</div>
<div>
  <button class="button button--small button--cta">CTA Button</button>
  <button class="button button--small button--cta button--disabled" disabled>Disabled CTA Button</button>
</div>
<div>
  <button class="button button--small button--primary">Primary Button</button>
  <button class="button button--small button--primary button--disabled" disabled>Disabled Primary Button</button>
</div>
<div>
  <button class="button button--small">Button</button>
  <button class="button button--small button--disabled" disabled>Disabled Button</button>
</div>
<div>
  <button class="button button--small button--danger">Danger Button</button>
  <button class="button button--small button--danger button--disabled" disabled>Disabled Danger Button</button>
</div>

<div class="h4">Standard</div>
<div>
  <button class="button button--cta">CTA Button</button>
  <button class="button button--cta button--disabled" disabled>Disabled CTA Button</button>
</div>
<div>
  <button class="button button--primary">Primary Button</button>
  <button class="button button--primary button--disabled" disabled>Disabled Primary Button</button>
</div>
<div>
  <button class="button">Button</button>
  <button class="button button--disabled" disabled>Disabled Button</button>
</div>
<div>
  <button class="button button--danger">Danger Button</button>
  <button class="button button--danger button--disabled" disabled>Disabled Danger Button</button>
</div>

<div class="h4">Large</div>
<div>
  <button class="button button--large button--cta">CTA Button</button>
  <button class="button button--large button--cta button--disabled" disabled>Disabled CTA Button</button>
</div>
<div>
  <button class="button button--large button--primary">Primary Button</button>
  <button class="button button--large button--primary button--disabled" disabled>Disabled Primary Button</button>
</div>
<div>
  <button class="button button--large">Button</button>
  <button class="button button--large button--disabled" disabled>Disabled Button</button>
</div>
<div>
  <button class="button button--large button--danger">Danger Button</button>
  <button class="button button--large button--danger button--disabled" disabled>Disabled Danger Button</button>
</div>

<div class="h4">Misc</div>
<div>
  <button class="button">Button with icon <i class="button__icon icon-arrow_forward"></i></span></button>
  <button class="button"><i class="button__icon--left icon-arrow_back"></i></span> Button with icon</button>
</div>
<div>
  <button class="button button--link">A button styled to look like a link</button>
</div>
