<h4>Brand Colors</h4>
<div class="color color--teal">
  <p>#008060</p>
  <p>teal</p>
</div>
<div class="color color--teal-light">
  <p>#EBFFFA</p>
  <p>teal-light</p>
</div>
<div class="color color--teal-dark">
  <p>#034E46</p>
  <p>teal-dark</p>
</div>
<div class="color color--magenta">
  <p>#A6005E</p>
  <p>magenta</p>
</div>
<div class="color color--magenta-light">
  <p>#FFEAF6</p>
  <p>magenta-light</p>
</div>
<div class="color color--magenta-dark">
  <p>#66013A</p>
  <p>magenta-dark</p>
</div>

<h4>Greys</h4>
<div class="color color--grey-light">
  <p>#F7F5F4</p>
  <p>grey-light</p>
</div>
<div class="color color--grey">
  <p>#CFC5BF</p>
  <p>grey</p>
</div>
<div class="color color--grey-dark">
  <p>#5F5854</p>
  <p>grey-dark</p>
</div>
<div class="color color--grey-darkest">
  <p>#121111</p>
  <p>grey-darkest</p>
</div>

<h4>System Colors</h4>
<div class="color color--green-light">
  <p>#EBFFEF</p>
  <p>green-light</p>
</div>
<div class="color color--green">
  <p>#00891B</p>
  <p>green</p>
</div>
<div class="color color--red-light">
  <p>#FCE3D9</p>
  <p>red-light</p>
</div>
<div class="color color--red">
  <p>#D13F00</p>
  <p>red</p>
</div>
<div class="color color--yellow-light">
  <p>#FFF2D1</p>
  <p>yellow-light</p>
</div>
<div class="color color--yellow">
  <p>#FFAE00</p>
  <p>yellow</p>
</div>