<p>
  <div class="color color--tan">#DEDED1</div>
  <div class="color color--magenta">#A6005E</div>
  <div class="color color--teal">#01846F</div>
  <div class="color color--red">#D40000</div>
  <div class="color color--green">#009933</div>
</p>
<p>
  <div class="color color--background">#FAFAF9</div>
  <div class="color color--light-grey">#EAEAE9</div>
  <div class="color color--grey">#AAAAAA</div>
  <div class="color color--darkest-grey">#333333</div>
</p>
