<div>Current</div>
<p>
  <div class="color color--green"></div>
  <div class="color color--green-light"></div>
  <div class="color color--grey"></div>
  <div class="color color--grey-light"></div>
  <div class="color color--grey-dark"></div>
  <div class="color color--grey-darkest"></div>
  <div class="color color--magenta"></div>
  <div class="color color--magenta-light"></div>
  <div class="color color--magenta-dark"></div>
  <div class="color color--red"></div>
  <div class="color color--red-light"></div>
  <div class="color color--teal"></div>
  <div class="color color--teal-light"></div>
  <div class="color color--teal-dark"></div>
  <div class="color color--yellow"></div>
  <div class="color color--yellow-light"></div>
  <div class="color color--background"></div>
</p>

<div>Deprecated</div>
<p>
  <div class="color color--tan"></div>
  <div class="color color--orange"></div>
</p>
