<div class="emoji emoji--small emoji--blush"></div>
<div class="emoji emoji--med emoji--blush"></div>
<div class="emoji emoji--big emoji--blush"></div>
<div class="emoji emoji--bigger emoji--blush"></div>
<div class="emoji emoji--huge emoji--blush"></div>