<div class="emoji emoji-size-25 emoji--blush"></div>
<div class="emoji emoji-size-35 emoji--blush"></div>
<div class="emoji emoji-size-60 emoji--blush"></div>
<div class="emoji emoji-size-95 emoji--blush"></div>
<div class="emoji emoji-size-155 emoji--blush"></div>