<form action="POST">
  <label class="form-question" for="example_text">Form question, usually posed as a question?</label>
  <input type="text" class="text-input" placeholder="Text input" name="example_text">
  <input type="text" class="text-input form-width--long" placeholder="Long" name="example_text">
  <input type="text" class="text-input form-width--med" placeholder="Medium" name="example_text">
  <input type="text" class="text-input form-width--short" placeholder="Short" name="example_text">
  <input type="text" class="text-input form-width--name" placeholder="Name" name="example_text">
  <input type="text" class="text-input form-width--phone" placeholder="Phone #" name="example_text">
  <input type="text" class="text-input form-width--ssn" placeholder="SSN" name="example_text">
  <input type="text" class="text-input form-width--zip" placeholder="ZIP" name="example_text">
  <label for="example_radio" class="radio-button">
    <input type="radio" name="example_radio" id="example_radio">
    Example radio button
  </label>
  <label for="example_checkbox" class="checkbox">
    <input type="checkbox" name="example_checkbox" id="example_checkbox">
    Example checkbox
  </label>
  <div class="select">
    <select class="select__element" name="example_select" id="example_select">
      <option selected disabled>Choose a selection</option>
      <option value="1">Selection 1</option>
      <option value="2">Selection 2</option>
      <option value="2">Selection 3</option>
    </select>
  </div>

  <textarea name="example_textarea" class="textarea" id="" cols="30" rows="10"></textarea>
  <div class="file-upload">
    <input type="file" id="example_file_upload" name="example_file_upload" class="file-upload__input">
    <label class="button" for="example_file_upload" class="file-upload__label">Upload documents <i class="button__icon icon-file_upload"></i></label>
  </div>
</form>
