<div class="grid">
  <div class="grid__item width-one-third">
    <p>This is an example grid. Every element on the page should be within a grid element.</p>
  </div>
  <div class="grid__item width-one-third">
    <p>The grid allows you to size things from 1/12 to 1/1. Shift classes allow you to create empty spaces to the left of the grid item.</p>
  </div>
  <div class="grid__item width-one-third">
    <p>Grid items default to full width on mobile. More complex grid behaviors or nested grids should be created using the neat mixins.</p>
  </div>
</div>

