<div class="notice">
  <p>This is an example notice. It's a great way to provide additional information on a certain issue.</p>
</div>

<div class="notice--success">
  <p>This is an example warning notice. It's a great way to highlight <strong>confirmations or successful actions</strong>.</p>
</div>

<div class="notice--warning">
  <p>This is an example warning notice. It's a great way to highlight <strong>potential issues</strong>.</p>
</div>

<div class="notice--error">
  <p>This is an example warning notice. It's a great way to highlight <strong>errors or dangerous issues</strong>.</p>
</div>