<section class="slab">
  <div class="grid">
    <div class="grid__item width-one-fourth">
      <h3>Slab Layout</h3>
    </div>
    <div class="grid__item width-three-fourths">
      <p>This is an example slab, it's used to section out content, especially on marketing pages. Inside of slabs, use the grid component to lay things out. Almost everything on this page is laid out using slabs and grids.</p>
    </div>
  </div>
</section>

<section class="slab--magenta">
  <div class="grid">
    <div class="grid__item width-one-fourth">
      <h3>Slab Layout</h3>
    </div>
    <div class="grid__item width-three-fourths">
      <p>This is a magenta slab</p>
    </div>
  </div>
</section>
