<div class="box-wrapper">
  <div class="box with-no-padding">A div with no margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box with-padding-small">A div with small bottom margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box with-padding-med">A div with medium bottom margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box with-padding-large">A div with large bottom margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box with-padding-huge">A div with huge bottom margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box nudge--tiny">A div with tiny top margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box nudge--small">A div with small top margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box nudge--med">A div with med top margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box nudge--large">A div with large top margin</div>
</div><br/>
<div class="box-wrapper">
  <div class="box nudge--huge">A div with huge top margin</div>
</div>
