<div class="box-wrapper">
  <div class="notice spacing-below-0">no margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-5">5px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-10">10px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-15">15px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-25">25px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-35">35px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-60">60px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-95">95px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-155">155px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-250">250px margin below</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-0">no margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-5">5px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-10">10px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-15">15px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-25">25px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-35">35px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-60">60px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-95">95px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-155">155px margin above</div>
</div></br>
<div class="box-wrapper">
  <div class="notice spacing-below-0 spacing-above-250">250px margin above</div>
</div></br>