<div class="grid">
  <div class="grid__item width-one-half">
    <div class="box-wrapper">
      <div class="spacing-below-0">
        <div class="notice">no margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-5">
        <div class="notice">5px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-10">
        <div class="notice">10px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-15">
        <div class="notice">15px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-25">
        <div class="notice">25px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-35">
        <div class="notice">35px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-60">
        <div class="notice">60px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-95">
        <div class="notice">95px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-155">
        <div class="notice">155px margin below</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-below-250">
        <div class="notice">250px margin below</div>
      </div>
    </div>
  </div>

  <div class="grid__item width-one-half">
    <div class="box-wrapper">
      <div class="spacing-above-0">
        <div class="notice">no margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-5">
        <div class="notice">5px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-10">
        <div class="notice">10px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-15">
        <div class="notice">15px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-25">
        <div class="notice">25px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-35">
        <div class="notice">35px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-60">
        <div class="notice">60px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-95">
        <div class="notice">95px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-155">
        <div class="notice">155px margin above</div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="spacing-above-250">
        <div class="notice">250px margin above</div>
      </div>
    </div>
  </div>
</div>