<p>
  <span class="label">Beta</span>
  <span class="label label--magenta">Featured</span>
  <span class="label label--teal">New</span>
  <span class="label label--green">Done</span>
  <span class="label label--orange">In Progress</span>
  <span class="label label--red">Error</span>
</p>
