<% content_for :card_title, 'Confirmation page!' %>
<% content_for :card_help, 'Confirmation page description' %>
<% content_for :card_body do %>
  <h3 class="with-padding-med">What to expect next</h3>
  <div class="emoji emoji--med emoji--phone with-padding-small"></div>
  <p class="with-padding-med">Your time on this website, though infinitely valuable, has come to an end. Please leave feedback, if you so choose</p>
<% end %>
<%= render template: 'layouts/confirmation' %>