<% content_for :card_title, 'Yes/No Signpost' %>
<% content_for :card_icon, 'emoji-pair--emoji_students' %>
<% content_for :card_body do %>
  <p class="text--help">This card uses the center_aligned layout</p>
  <p class="text--help">And renders the yes/no buttons as content for the :card_footer</p>
<% end %>

<% content_for :card_footer do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.cfa_single_tap_button(
            :example_method_name,
            "Yes",
            true
        ) %>
    <%= f.cfa_single_tap_button(
            :example_method_name,
            "No",
            false
        ) %>
  <% end %>
<% end %>

<%= render template: 'layouts/center_aligned' %>