<% card_body = capture do %>
  <p class="text--help">This card uses the center_aligned layout</p>
  <p class="text--help">And renders the yes/no buttons as content for the :card_footer</p>
<% end %>

<% card_footer = capture do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.cfa_single_tap_button(
            :example_method_name,
            "Yes",
            true
        ) %>
    <%= f.cfa_single_tap_button(
            :example_method_name,
            "No",
            false
        ) %>
  <% end %>
<% end %>

<%= render 'cfa/styleguide/layouts/center_aligned_card',
           card_title: 'Yes/No Signpost',
           card_icon: 'emoji-pair--emoji_students',
           card_body: card_body,
           card_footer: card_footer
%>