.honeycrisp-compact {
  font-size: $font-size-18;
  line-height: $s18;

  .data-table {
    font-size: inherit;

    th, td {
      padding: $s15;
    }

    td {
      a {
        color: $color-teal;
        text-decoration: underline;
      }
    }

    .row--error, .row--warning {
      a {
        color: $color-teal-dark;
      }
    }

    .header--sortable {
      white-space: nowrap;

      .sort-icon::after {
        background-image: image-url('icon_sort_neutral.svg');
        content: '';
        display: inline-block;
        margin-left: $s15;
        width: 10px;
        height: 14px;
      }

      .sort-icon--ascending::after {
        background-image: image-url('icon_sort_up.svg');
      }

      .sort-icon--descending::after {
        background-image: image-url('icon_sort_down.svg');
      }
    }
  }

  .form-group {
    margin-bottom: $s35;
    p {
      margin-bottom: $s15;
    }

    .text--help {
      font-size: $font-size-18;
      margin-top: 0px;
      margin-bottom: $s15;
    }
  }

  .form-question {
    margin-bottom: $s15;
  }

  .button {
    line-height: $s18;
    padding: $s10;
    margin-top: 0;
    margin-left: $s10;
    margin-right: $s10;
    margin-bottom: 2rem;
    font-weight: normal;
    border-width: 1px;
    box-shadow: none;
    border-radius: .4rem;
    font-size: $font-size-18;
    [class^="icon-"], [class*=" icon-"] {
      vertical-align: 0;
    }
    &:focus {
      @include outline-with-offset;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }

  .button--small {
    font-size: $font-size-18;
    border-radius: .4rem;
    line-height: 1.5rem;
    padding: .4rem $s10;
  }

  .button--big {
    font-size: 1.8rem;
    border-radius: .4rem;
    line-height: $s25;
    padding: .9rem $s15;
  }

  .text-input {
    padding: 0 $s15;
    height: 4rem;
    border-width: 1px;
    font-size: $font-size-18;
    font-weight: normal;
    margin-bottom: 2rem;
  }

  .select {
    line-height: 4rem;
    border-width: 1px;
    font-size: $font-size-18;
    height: 4rem;
    &:after {
      width: 4rem;
    }
  }
  .select__element {
    font-size: $font-size-18;
    font-weight: normal;
    border: 1px solid $color-grey-darkest;
    height: 4rem;
    padding: 0 4.0rem 0 $s15;
  }

  h1 {
    font-size: 2.0rem;
    line-height: 2.4rem;
    margin-top: 4.0rem;
    margin-bottom: 2.5rem;
    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: 4.0rem;
    margin-bottom: 2.5rem;
    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 4.0rem;
    margin-bottom: 2.5rem;
    &:first-child {
      margin-top: 0;
    }
  }

  .text--error {
    @extend .text--red;
    font-weight: $font-weight-bold;
  }

  .form-question {
    font-size: $font-size-18;
    line-height: $s18;
  }
}
