<% content_for(:template_name) { "dashboard" } %>

<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <h1 class="main-header__title"><a class="main-header__logo" href="#"><b>GetCalFresh.org</b> | SF Marin Food Bank</a></h1>
    </div>
    <div class="toolbar__right">
      <a href="#" class="toolbar__item text--help">Assister dashboard</a>
      <a href="#" class="toolbar__item text--help">Log out</a>
    </div>
  </div>
</header>
<div class="tab-bar">
  <a href="#" class="tab-bar__tab is-selected">Clients</a>
  <a href="#" class="tab-bar__tab">Analytics</a>
  <a href="#" class="tab-bar__tab">Team</a>
</div>
<div class="dashboard-toolbar toolbar">
  <div class="toolbar__left">
    <form class="searchbar form-width--searchbar toolbar__item">
      <input type="text" class="searchbar__input" placeholder="Search applicants by name or confirmation #">
      <label class="searchbar__button"><span class="icon icon-arrow_forward"></span><button type="submit"></button></label>
    </form>
  </div>
  <div class="toolbar__right">
    <a href="#" class="button toolbar__item">Submit documents</a>
    <a href="#" class="button button--cta toolbar__item"><span class="icon icon-add"></span> New application</a>
  </div>
</div>
<div class="dashboard-main">
  <div class="grid">
    <div class="grid__item width-one-whole">
      <div class="data-table-container">
        <table class="data-table data-table--selectable">
          <thead>
            <tr>
             <th><a href="#">Name <span class="icon icon-arrow_drop_down"></span></a></th>
             <th>Birth date</th>
             <th>Email</th>
             <th>Phone</th>
             <th><a href="#" class="is-selected">Submit date <span class="icon icon-arrow_drop_down"></span></a></th>
             <th>Confirmation #</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Applicant 1</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 2</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 3</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 4</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 5</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 6</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 7</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 8</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 9</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
            <tr>
              <td>Applicant 10</td>
              <td>04/02/1988</td>
              <td><span class="icon icon-markunread"></span></td>
              <td>555-555-5555</td>
              <td>10/16/2016</td>
              <td>AKJHSD83K</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <div class="pagination__info">
          <p class="text--help">Displaying 1-20 of 344 applicants</p>
        </div>
        <div class="pagination__buttons">
          <button class="button button--small"><i class="icon icon-keyboard_arrow_left"></i></button>
          <button class="button button--small pagination__selected">1</button>
          <button class="button button--small">2</button>
          <button class="button button--small">3</button>
          <span class="pagination__ellipsis">&hellip;</span>
          <button class="button button--small">6</button>
          <button class="button button--small"><i class="icon icon-keyboard_arrow_right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
