<% content_for(:template_name) { "question" } %>

<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <h1 class="main-header__title"><a href="#" class="main-header__logo"><b>GetCalFresh.org</b></a></h1>
    </div>
    <div class="toolbar__right">
      <a href="#" class="toolbar__item text--small">Español</a>
    </div>
  </div>
</header>
<div class="slab">
  <div class="grid">
    <div class="grid__item width-five-sixths shift-one-twelfth">

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--star with-padding-med"></div>
          <h1 class="form-card__title with-padding-med">First, we’ll need to figure out what proof you need to submit.</h1>
        </div>
        <div class="form-card__content">
          <a href="#" class="button button--primary">Continue</a>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--farmer-female with-padding-small"></div>
          <div class="emoji emoji--big emoji--construction-worker with-padding-small"></div>
        </div>
        <div class="form-card__content">
          <h3 class="with-padding-large">Does anyone in the household <b>have a job</b>?</h3>
          <div class="toolbar toolbar--centered">
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>Yes</a>
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>No</a>
          </div>
          <ul class="progress-dots">
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
          </ul>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--money with-padding-small"></div>
        </div>
        <div class="form-card__content">
          <h3 class="with-padding-large">Does anyone in the household get <b>money not from a job</b>?</h3>
          <div class="toolbar toolbar--centered">
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>Yes</a>
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>No</a>
          </div>
          <ul class="progress-dots">
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
          </ul>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--briefcase with-padding-small"></div>
        </div>
        <div class="form-card__content">
          <h3 class="with-padding-large">Has anyone <b>lost their job</b> in the last 30 days??</h3>
          <div class="toolbar toolbar--centered">
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>Yes</a>
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>No</a>
          </div>
          <ul class="progress-dots">
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
          </ul>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--earth with-padding-small"></div>
        </div>
        <div class="form-card__content">
          <h3 class="with-padding-large">Is everyone in the household is a <b>US Citizen</b>?</h3>
          <div class="toolbar toolbar--centered">
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>Yes</a>
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>No</a>
          </div>
          <ul class="progress-dots">
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
          </ul>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--baby with-padding-small"></div>
        </div>
        <div class="form-card__content">
          <h3 class="with-padding-large">Does anyone in the household <b>pay for child support</b>?</h3>
          <div class="toolbar toolbar--centered">
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>Yes</a>
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>No</a>
          </div>
          <ul class="progress-dots">
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot"></li>
            <li class="progress-dots__dot"></li>
          </ul>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--older-woman with-padding-small"></div>
          <div class="emoji emoji--big emoji--older-man with-padding-small"></div>
          <div class="emoji emoji--big emoji--disabled with-padding-small"></div>
        </div>
        <div class="form-card__content">
          <h3 class="with-padding-large">Is anyone in the household <b>60 or older</b> or <b>disabled</b>?</h3>
          <div class="toolbar toolbar--centered">
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>Yes</a>
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>No</a>
          </div>
          <ul class="progress-dots">
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot"></li>
          </ul>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--pill with-padding-small"></div>
        </div>
        <div class="form-card__content">
          <h3>Does this person have any <b>medical expenses</b>?</h3>
          <p class="with-padding-large">E.g., medical, dental, nursing care, hospitalization, medicine, health equipment, and medical transportation.</p>
          <div class="toolbar toolbar--centered">
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>Yes</a>
            <a href="#" class="button toolbar__item"><span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>No</a>
          </div>
          <ul class="progress-dots">
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
            <li class="progress-dots__dot is-completed"></li>
          </ul>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__header">
          <div class="emoji emoji--big emoji--star with-padding-med"></div>
          <h1 class="form-card__title with-padding-med">Great, now let’s help you submit the right proof.</h1>
        </div>
        <div class="form-card__content">
          <a href="#" class="button button--primary">Continue</a>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__content">
          <div class="form-card__header">
            <div class="emoji emoji--big emoji--bust with-padding-small"></div>
            <p class="text--caps">Proof of identity</p>
            <h3>Can you submit any of the following for Laura and Chris?</h3>
            <ul class="with-padding-med">
              <li class="example">Driver's license or ID</li>
              <li class="example">Passport</li>
              <li class="example">Student, jail, or other photo ID</li>
            </ul>
            <div class="select">
              <select class="select__element" name="example_select" id="example_select">
                <option selected disabled>Choose a selection</option>
                <option value="1">I can submit now</option>
                <option value="2">I need more time</option>
                <option value="2">I need more help</option>
              </select>
            </div>
          </div>
          <a href="#" class="button button--primary">Continue</a>
        </div>
      </div>

      <br><br>

      <div class="form-card form-card--transition">
        <div class="form-card__content">
          <div class="form-card__header">
            <div class="emoji emoji--big emoji--farmer-female with-padding-small"></div>
            <div class="emoji emoji--big emoji--construction-worker with-padding-small"></div>
            <p class="text--caps">Proof for jobs</p>
            <h3>Can you submit any of the following?</h3>
            <ul class="with-padding-med">
              <li class="example">Pay stubs from last 30 days</li>
              <li class="example">Letter from employer with gross pay, hours worked, etc.</li>
            </ul>
            <div class="select">
              <select class="select__element" name="example_select" id="example_select">
                <option selected disabled>Choose a selection</option>
                <option value="1">I can submit now</option>
                <option value="2">I need more time</option>
                <option value="2">I need more help</option>
              </select>
            </div>
          </div>
          <a href="#" class="button button--primary">Continue</a>
        </div>
      </div>
    </div> <!-- .grid item -->
  </div> <!-- .grid -->
</div> <!-- .slab -->
