<% content_for(:template_name) { "styleguide" } %>

<section class="slab slab--styleguide">
  <div class="grid">
    <div class="grid__item">
      <h1>Emoji Index</h1>
      <p>All the emojis ✨</p>
    </div>
  </div>
</section>

<section>
  <%= image_tag("emoji_pairs/emoji_students.png") %>
</section>