<% content_for(:template_name) { "styleguide" } %>

<section class="slab slab--styleguide">
  <div class="grid">
    <div class="grid__item">
      <h1>CfaV2FormBuilder</h1>
      <p class="text--help">CfAV2FormBuilder is a helper that generates accessible form fields for the styleguide.</p>
    </div>
  </div>
</section>

<%= render 'section', title: 'Text Input', example: 'form_builder/v2/cfa_text_input' %>
<%= render 'section', title: 'Button', example: 'form_builder/v2/cfa_button' %>
<%= render 'section', title: 'Select', example: 'form_builder/v2/cfa_select' %>
<%#= render 'section', title: 'Radio Button', example: 'form_builder/v2/cfa_radio' %>
<%#= render 'section', title: 'Radiogroup', example: 'form_builder/v2/cfa_radiogroup' %>
<%#= render 'section', title: 'Date Input', example: 'form_builder/v2/cfa_date_input' %>
<%#= render 'section', title: 'Checkbox', example: 'form_builder/v2/cfa_checkbox' %>
