<% content_for(:template_name) { "styleguide" } %>

<section class="slab slab--styleguide">
  <div class="grid">
    <div class="grid__item">
      <h1>Honeycrisp Compact</h1>
      <p class="text--help">
        Honeycrisp Compact is a variation of Honeycrisp.
        While standard Honeycrisp is geared towards public facing products, Compact can be used to build internal tools and products for workers.
        Use Compact for things that people will use as part of their job.
        Compact's components aim to be as accessible and usable as standard Honeycrisp, but with a more businesslike visual design that allows for greater information density and more complex workflows.
        These products might be used routinely, and by people who need workspaces that are optimized for efficiency.
      </p>
    </div>
  </div>
</section>

<%= render 'section', title: 'Data Table', example: 'honeycrisp_compact/data_table' %>
