<div class="honeycrisp-compact">
  <label for="apple_quality" class="form-question">What's your favorite apple quality?</label>
  <div class="select">
    <select class="select__element" name="apple_quality" id="apple_quality">
      <option selected disabled>Choose a selection</option>
      <option value="crisp">Crisp</option>
      <option value="sweet">Sweet</option>
      <option value="tart">Tart</option>
    </select>
  </div>
</div>
