<div class="honeycrisp-compact">

  <div class="form-group">
    <label class="form-question" for="apple_comment">What would you like to tell us about apples?</label>
    <input type="text" class="text-input" name="apple_comment" id="apple_comment">
  </div>

  <div class="form-group">
    <label class="form-question" for="favorite_apples">What are your favorite apples?</label>
    <input type="text" class="text-input form-width--long" name="favorite_apples" id="favorite_apples">
  </div>

  <div class="form-group">
    <label class="form-question" for="them_apples">How about them apples?</label>
    <input type="text" class="text-input form-width--med" name="them_apples" id="them_apples">
  </div>

  <div class="form-group">
    <label class="form-question" for="phone">What is your phone number?</label>
    <input type="tel" class="text-input form-width--phone phone-input" name="phone" id="phone">
  </div>

  <div class="form-group">
    <label for="apple_quality" class="form-question">What's your favorite apple quality?</label>
    <p class="text--help">This is what help text in a form group looks like.</p>
    <div class="select">
      <select class="select__element" name="apple_quality" id="apple_quality">
        <option selected disabled>Choose a selection</option>
        <option value="crisp">Crisp</option>
        <option value="sweet">Sweet</option>
        <option value="tart">Tart</option>
      </select>
    </div>
  </div>
</div>
