<div class="honeycrisp-compact">
  <form action="POST">
    <div class="select">
      <select class="select__element" name="example_select" id="example_select">
        <option selected disabled>Choose a selection</option>
        <option value="1">Selection 1</option>
        <option value="2">Selection 2</option>
        <option value="2">Selection 3</option>
      </select>
    </div>
  </form>
</div>
