<div class="honeycrisp-compact">
  <h1>Heading Level 1</h1>
  <p>The apple wasn't bred to grow, store or ship well. It was bred for taste: crisp, with balanced sweetness and acidity.</p>

  <h2>Heading Level 2</h2>
  <p>The apple wasn't bred to grow, store or ship well. It was bred for taste: crisp, with balanced sweetness and acidity.</p>

  <h3>Heading Level 3</h3>
  <p>The apple wasn't bred to grow, store or ship well. It was bred for taste: crisp, with balanced sweetness and acidity.</p>

  <body><p>This is what body text looks like.</p></body>

  <p class="text--error">This is what error text looks like.</p>

  <p class="text--help">This is what help text looks like.</p>

  <p><a href="#">This is what link text looks like.</a></p>

  <p><a href="#" class="link--subtle">This is what subtle link text looks like</a></p>
</div>
