<div class="example-container">
  <div class="flash">
    <p class="flash__message">Your changes have been saved.</p>
    <a href="#" class="flash__dismiss" aria-label="Dismiss"><span class="icon icon-close"></span></a>
  </div>
</div>
<div class="example-container">
  <div class="flash flash--error">
    <p class="flash__message">You must be signed in to continue.</p>
    <a href="#" class="flash__dismiss" aria-label="Dismiss"><span class="icon icon-close"></span></a>
  </div>
</div>
