<form action="POST">
  <div class="form-group">
    <label class="form-question" for="example_form_question">How many people live in your household, including yourself?</label>
    <p class="text--help">Include family members and housemates you share food with.</p>
    <radiogroup class="input-group--inline">
      <label for="example_radio_inline_2_1" class="radio-button">
        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_1">
        1
      </label>
      <label for="example_radio_inline_2_2" class="radio-button">
        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_2">
        2
      </label>
      <label for="example_radio_inline_2_3" class="radio-button">
        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_3">
        3
      </label>
      <label for="example_radio_inline_2_4" class="radio-button">
        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_4">
        4
      </label>
      <label for="example_radio_inline_2_5" class="radio-button">
        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_5">
        5
      </label>
      <label for="example_radio_inline_2_6" class="radio-button">
        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_6">
        6
      </label>
    </radiogroup>
  </div>
</form>
