<form action="POST">
  <radiogroup class="input-group--inline">
    <label for="example_radio_inline_1" class="radio-button">
      <input type="radio" name="example_radio_inline" id="example_radio_inline_1">
      1
    </label>
    <label for="example_radio_inline_2" class="radio-button">
      <input type="radio" name="example_radio_inline" id="example_radio_inline_2">
      2
    </label>
    <label for="example_radio_inline_3" class="radio-button">
      <input type="radio" name="example_radio_inline" id="example_radio_inline_3">
      3
    </label>
    <label for="example_radio_inline_4" class="radio-button">
      <input type="radio" name="example_radio_inline" id="example_radio_inline_4">
      4
    </label>
    <label for="example_radio_inline_5" class="radio-button">
      <input type="radio" name="example_radio_inline" id="example_radio_inline_5">
      5
    </label>
    <label for="example_radio_inline_6" class="radio-button">
      <input type="radio" name="example_radio_inline" id="example_radio_inline_6">
      6
    </label>
  </radiogroup>
</form>
