<%= render('components/molecules/reveal', title: 'Learn more about student eligibility') do %>
  <p>In order to qualify as a college student, you have to meet one of the following exemptions:</p>
  <ul class="list--bulleted with-padding-med">
    <li>Work an average at least 20 hours a week</li>
    <li>Approved for federal or state work study</li>
    <li>Take care of a child under 12 (with exceptions)</li>
    <li>Participate in an approved employment or traning program</li>
    <li>Receive CalWORKs</li>
    <li>Do not intend to enroll next term</li>
  </ul>
<% end %>
