<form class="searchbar form-width--searchbar">
  <input type="text" class="searchbar__input" placeholder="Search applicants by name or confirmation #">
  <label class="searchbar__button"><span class="icon icon-arrow_forward"></span><button type="submit"></button></label>
</form>
