<%= render('components/molecules/show_more') do %>
  <h3>Summary</h3>
  <ul class="list--bulleted">
    <li>I have been honest on this report.</li>
    <li>I have attached all required documents.</li>
    <li>I understand the county may contact whomever to verify my eligibility.</li>
    <li>I have read the Calfresh Program Rules and Penalties.</li>
  </ul>
  <h3>Details</h3>
  <ul class="list--bulleted">
    <li>I understand and certify, under penalty of perjury, that all my answers on this report are correct and complete to the best of my knowledge.</li>
    <li>I understand and agree to give copies of all documents needed to complete my semi-annual report</li>
    <li>I understand that in some instances, I may be asked to give consent to the County to make whatever contacts are necessary to determine eligibility</li>
  </ul>
<% end %>