<div class="toolbar">
  <div class="toolbar__left"><b>Logo</b></div>
  <div class="toolbar__right">
    <a class="toolbar__item" href="#">Link</a>
    <a class="toolbar__item" href="#">Link</a>
  </div>
</div>
