<form action="POST">
  <radiogroup class="input-group--two-up">
    <label for="example_radio_two-up_1" class="radio-button">
      <input type="radio" name="example_radio_two-up" id="example_radio_two-up_1">
      Radio button 1
    </label>
    <label for="example_radio_two-up_2" class="radio-button">
      <input type="radio" name="example_radio_two-up" id="example_radio_two-up_2">
      Radio button 2
    </label>
    <label for="example_radio_two-up_3" class="radio-button">
      <input type="radio" name="example_radio_two-up" id="example_radio_two-up_3">
      Radio button 3
    </label>
    <label for="example_radio_two-up_4" class="radio-button">
      <input type="radio" name="example_radio_two-up" id="example_radio_two-up_4">
      Radio button 4
    </label>
  </radiogroup>
</form>
