.emoji {
  display: inline-block;
  text-indent: -9999px;
  height: $s10;
  width: $s10;
  content: '';
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
}

.emoji--inline {
  top: .2em;
}

.emoji-size-155 {
  width: $s155;
  height: $s155;
}

.emoji-size-95 {
  width: $s95;
  height: $s95;
}

.emoji-size-60 {
  width: $s60;
  height: $s60;
}

.emoji-size-35 {
  width: $s35;
  height: $s35; 
}

.emoji-size-25 {
  width: $s25;
  height: $s25; 
}


// Deprecated emoji classes

.emoji--huge {
  @extend .emoji-size-155;
}

.emoji--bigger {
  @extend .emoji-size-95;
}

.emoji--big {
  @extend .emoji-size-60;
}

.emoji--med {
  @extend .emoji-size-35;
}

.emoji--small {
  @extend .emoji-size-25;
}
