.eligibility_result {
  p:first-child {
    margin-bottom: 0;
  }
  p + .h2 {
    margin-top: 0;
  }
}

.template--question .form-card--transition {
  max-width: 55rem;
}

.form-group:last-of-type {
  margin-bottom: 3em;
}

.emoji--big {
  width: 3.5em;
  height: 3.5em;
}


.color--red {
  color: $color-red;
}

.color--orange {
  color: $color-orange;
}

.color--green {
  color: $color-green;
}
