$sidebar-width: $s250;

.toolbar--with-sidebar{
  max-width: $site-max-up;
  display: flex;
  justify-content: space-between;
  margin: auto;
  content: "";
  clear: both;
}

.toolbar--with-sidebar.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.toolbar--with-sidebar > .main-header__title{
  float: left;
  margin-top: $s15;
  margin-left: $s15;
  line-height: $s25;
}

.sidebar-collapse-toggle{
  float: right;
  margin-top: $s15;
  margin-right: $s15;
}

/* -------------
Sidebar
----------------*/
.sidebar {
  position: absolute;
  visibility: visible;
  -webkit-backface-visibility: hidden;
  float:left;
  display:inline-block;
  vertical-align:top;
  header{
    width: 100%;
    display:block;
    padding: 0.75em	1em;
  }
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  left: 0;

  ul{
    list-style:none;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 16px;

    li{
      margin-left: 0;
      display:inline-block;
      width: 100%;
      line-height: 16px;

      .section-header{
        display:block;
        background-color: $color-green-light;
        padding: .75em 1.5em;
        color: $color-grey-dark;
        width: 100% !important;
        line-height: 16px;
      }

      .sidebar__sub-items{
        padding: .05em 1em;
        li {
          padding-left: 0.25em;

          a, a:visited {
            color: $color-grey-darkest;
            line-height: 1.2em;
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }

          &.active {
            font-weight: $font-weight-bold;
            border-left: 3px solid $color-teal;
          }
        }
      }
    }
  }
}

.sidebar-collapse-toggle{
  display: none;
}

/* -------------
Sidebar Nav
----------------*/
.left-sidebar-slab-container{
  margin-left: $sidebar-width - $page-padding;
  padding-left: $s35;
}

$sidebar-width-px: 250px;

@media screen and (max-width: $tablet-up + $sidebar-width-px - 1) {
  .sidebar{
    display: none;
  }

  .sidebar.open {
    display: inline-block;

    .sidebar-nav {
      width: 100%;
    }
  }

  .sidebar-collapse-toggle{
    display: block;
  }

  .left-sidebar-slab-container{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .main-header__title .main-header__logo{
    color: #fff !important;
  }

  .main-footer {
    left: 0;
  }
}

@media screen and (min-width: $tablet-up + $sidebar-width-px) {
  .sidebar{
    display: inline-block;
  }

  .sidebar-collapse-toggle{
    display: none;
  }

  .sidebar-nav {
    width: $sidebar-width !important;
  }

  .main-footer {
    left: $sidebar-width;
  }
}
