<% step_description = local_assigns[:step_description] %>

<% label_id = "progress-step-bar--#{current_step}-#{step_count}-label".downcase %>

<div class="progress-step-bar">
  <div class="progress-step-bar__bar" aria-labelledby="<%= label_id %>">
    <% (1..step_count).each do |step_number| %>
      <% if step_number < current_step %>
        <div class="progress-step-bar__step progress-step-bar__step--completed"></div>
      <% elsif step_number == current_step %>
        <div class="progress-step-bar__step progress-step-bar__step--current"></div>
      <% else %>
        <div class="progress-step-bar__step"></div>
      <% end %>
    <% end %>
  </div>

  <div class="progress-step-bar__label <%= 'sr-only' if step_description.blank? %>" id="<%= label_id %>">
    <%= "#{step_description}" %>
  </div>
</div>
