<div class="reveal">
  <button type="button" href="#" class="reveal__link" aria-controls="reveal__content_id"><%= title %></button>
  <div class="reveal__content" id="reveal__content_id">
    <%= yield %>
  </div>
</div>