<div class="vertical-steps__step">
  <div class="emoji emoji--big <%= local_assigns[:emoji] %>"></div>
  <p class="h3"><strong><%= local_assigns[:review_content] %></strong></p>
  <p class="text--help"><%= local_assigns[:review_content_type] %></p>
</div>