<div class="reveal">
  <p><button href="#" class="reveal__link" aria-controls="reveal__content_id"><%= title %></button></p>
  <div class="reveal__content" id="reveal__content_id">
    <%= yield %>
  </div>
</div>