<div class="show-more show-more--long with-padding-large">
  <button class="show-more__button" aria-hidden="true">Read more</button>
  <div class="show-more__content">
    <%= yield %>
  </div>
</div>