<div class="form-card__content">
  <div class="eligibility_result">
    <p><%= yield :graphic_description %></p>
    <p class="h2 color--green">$<%= yield :graphic_content %></p>
    <div class="illustration illustration--eligibility_chart illustration--eligible"></div>
    <% if content_for?(:card_body) %>
      <%= yield :card_body %>
    <% end %>
  </div>
</div>

<div class="form-card__footer">
  <%= link_to 'Continue',
              layouts_path, # directs to next path
              class: 'button button--primary'%>
</div>